.myButton {
  background-color: #217A64;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  padding: 9px 0px;
  text-decoration: none;
  border: 2px solid #217A64;
  color: #FFFFFF;
  font-family: "Roboto-Regular";
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 180.5px;
}

.signin{
  max-width: 132px;
  height: 38px;
  font-size: 22px;
}

.secondary{
  background-color:#6C6B6C;
  border: 2px solid #6C6B6C;

}
/* .myButton:hover {
  background-color:#e42fa85d;
} */


/* .myButton:active {
  position:relative;
  top:1px;
} */

