.Page {
  font-family: "Arial";
}

.myButton {
  background-color:#792d44;
  border-radius:12px;
  display:inline-block;
  cursor:pointer;
  padding:0px 24px;
  text-decoration:none;
  color:#ffffff;
  font-family:"Roboto-Regular";
  font-size:19px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#6b2b3f;
}
.myButton:active {
  position:relative;
  top:1px;
}

.Section1{
  padding-bottom: 2rem;
  padding-top: 2rem;
  border: solid 1px blue;

  @media screen and (min-width: 68.75em){  
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.AllContent1{
  display:flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px red;

}

.Content1{
  width:60%;
  font-size: 2rem;
  padding-top: 4.9rem;
  line-height: 147.2%;

  p{
    padding-right: 11rem;
  }

}

.Image1{
  width:31%;
}

