$radio-empty-color: #217A64;
$input-disabled-color: red;
$radio-border: grey;
$input-background: #FFFFFF;
$secondary-color:#3AAB8F; 
$input-disabled-solid-color: orange;

.checkboxContainer{
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
  }
  
  // Checkbox Styles
  [type="radio"] {
    // Text Label Style
    + span{
      position: relative;
      padding-left: 29px;
      font-family: 'Roboto-Regular';
      color: #217A64;
      letter-spacing: 1px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      line-height: 25px;
      font-size: 20px;
      user-select: none;
    }
      // Focused styles
      &.tabbed:focus  + span:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.1);
      }
  }
  
  // Filled in Style
  [type="radio"].filledin {
    // General
    + span:after {
      border-radius: 2px;
    }
  
    + span:before,
    + span:after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
      z-index: 1;
    }
  
    // Unchecked style
    &:not(:checked) + span:before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }
  
    &:not(:checked) + span:after  {
      height: 25px;
      width: 25px;
      background-color: transparent;
      border: 1px solid $radio-empty-color;
      top: 0px;
      left: -4px;
      z-index: 0;
    }
  
    // Checked style
    &:checked {
      + span:before {
        top: 2px;
        left: -1px;
        width: 8px;
        height: 17px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
      }
  
      + span:after {
        top: 0px;
        left: -4px;
        width: 25px;
        height: 25px;
        border: 1px solid $radio-empty-color;
        background-color: $secondary-color;
        z-index: 0;
      }
    }
  
    // Focused styles
    &.tabbed:focus + span:after {
      border-radius: 2px;
      border-color: $radio-empty-color;
      background-color: rgba(0,0,0,.1);
    }
  
    &.tabbed:checked:focus + span:after {
      border-radius: 2px;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  
}