.HeaderContainer{
  @media screen and (min-width: 1500px){  
    margin-left:auto;
    margin-right:auto;
  }
}

.header {
  padding: .34rem 0 0rem;
  background: rgba(33, 122, 100, 0.9);
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav{
  //border: solid blue 1px;
  display: flex;
 
  @media screen and (min-width: 1500px){  
    width: 1500px;

  }
}

.nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style-type: none;
  padding: 0px;
  align-items: center;
  margin: auto;
}

.nav-list-item{
  display: inline-block;
}
.nav-item {
  color: #000000;
  font-family: "Oswald-Regular";
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
}

.nav-item:before{
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  opacity: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .9s cubic-bezier(.19,1,.22,1); 
}

.nav-item:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

.active-nav-item:before{
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  opacity: 1;
  transform: scaleX(1);
}